@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/*sidebar buttons*/
.sidebar-button {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  padding: 0.7em 1em;
  padding-left: 0;
  display: flex;
  align-items: center;
  border: none;
  overflow: hidden;
  transition: all 0.2s;
 }
 
 .sidebar-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
 }
 
 .sidebar-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
 }
 
 .sidebar-button:hover .i-wrapper {
  animation: playMove 0.6s ease-in-out infinite alternate;
 }
 
 .sidebar-button:hover svg {
  transform: translateX(1.2em)  scale(1.1);
 }
 
 .sidebar-button:hover span {
  transform: translateX(1em);
 }
 
 .sidebar-button:active {
  transform: scale(0.95);
 }
 
 @keyframes playMove {
  from {
   transform: translateY(0.1em);
  }
 
  to {
   transform: translateY(-0.1em);
  }
 }

 /* switch mode */
 .switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e3e3e4;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
 
/*text gradient home*/
.home-title {
  background: -webkit-linear-gradient(45deg, #3730a3, #8545fc, #8983f7, #39c0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}